@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v50-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/roboto-v50-latin-600.woff2') format('woff2');
}

:root {
    --color-primary-dark: #011C44;
    --color-primary-light: #faf4ea;
    --color-brand-base: #2B7FFF;
}

/* Global */
body {
    color: var(--color-primary-dark);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

span {
    color: var(--color-brand-base)
}

h2 {
    font-family: Play, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 1;
}

/* Title */
.hero-title {
    color: var(--color-brand-base);
    font-family: Play, sans-serif;
    font-size: 140px;
    font-weight: 700;
    line-height: 1.2;
}

.h2-left {
    text-align: left;
}

/* Link */
.link {
    color: var(--color-primary-dark);
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand-base);
    font-weight: 700;
}

.footer .link {
    font-size: 16px;
    line-height: 1;
}

/* Button */
.button {
    color: var(--color-primary-light);
    background: var(--color-brand-base);
    border: 2px solid var(--color-brand-base);
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
}

.button:active {
    color: var(--color-primary-dark);
    background-color: transparent;
    border-radius: 12px;
}

.button1 {
    background-color: transparent;
    color: var(--color-primary-dark);
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid var(--color-primary-dark);
    width: 44px;
    height: 44px;
    font-size: 18px;
}

.button2 {
    background-color: transparent;
    color: var(--color-primary-dark);
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid var(--color-primary-dark);
    width: 44px;
    height: 44px;
    font-size: 18px;
}

.button1:active {
    background-color: var(--color-brand-base);
    color: var(--color-primary-light);
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid var(--color-primary-light);
    width: 44px;
    height: 44px;
}

.button2:active {
    background-color: var(--color-brand-base);
    color: var(--color-primary-light);
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid var(--color-primary-light);
    width: 44px;
    height: 44px;
}

/* no */

.dark-one {
    color: var(--color-primary-dark);
    font-weight: 600;
    font-size: 22px;
}

.mini-p {
    font-size: 12px;
}

.our-clinik {
    line-height: 1.7;
}

.registr {
    font-weight: 600;
    font-size: 22px;
    line-height: 1;
}

/* Foter */
.info-nam {
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
}

.deff {
    font-size: 13px;
    line-height: 1;
}